<h1>Test Success</h1>


<form action= "<%= user_index_url %>" method="POST">
  <input type="hidden" name='authenticity_token' value='form_authencity_token'>
  <label> Name:
    <input type="text" name='user[name]'>
  </label>
  <input type="submit" value="NEW USER!!!!">
</form>
